.brand-style {
    font-family: 'Playfair Display', serif;
    font-size: 53px;
    font-weight: bold;
}

.banner-image {
    background-size: cover !important;
    height: 600px;
    background-position: center;
}

.login-btn {
    font-family: 'Lato', sans-serif;
    background: white;
    color: black !important;
    font-weight: 700;
    border-radius: 25%;
    padding: 4px 13px;
    font-size: 16px;
    margin-top: 4px;
    width: 60px;
    margin-left: 5px;
    text-align: center;
    margin-right: 10px;
}

.navbar-link-style {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.banner-h1 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    text-align: left;
}

.banner-h1-second {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    text-align: right;
    margin-left: 155px;
}

.let-go-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    padding: 13px 40px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 14%);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgb(0 0 0 / 20%);
    background: transparent;
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: 2px solid white;
    border-radius: 100px !important;
    margin-top: 35px;
    font-weight: bolder;
}

.section-heading {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
    margin-bottom: 20px;
}

.section1-p-bold {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-left: 30px;
}

.section1-p {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    margin-left: 30px;
}

.section2-img {
    margin-left: 30px;
}

.section2-text {
    margin-top: 20px;
}

.visitor-btn {
    font-family: 'Lato', sans-serif;
    background: black;
    color: white !important;
    font-weight: 700;
    border-radius: 50%;
    padding: 4px 13px;
    font-size: 16px;
    margin-top: 4px;
    width: 75px;
    text-align: center;
}

.host-btn {
    font-family: 'Lato', sans-serif;
    background: lightgray;
    color: black !important;
    font-weight: 700;
    border-radius: 50%;
    padding: 4px 13px;
    font-size: 16px;
    margin-top: 4px;
    width: 75px;
    text-align: center;
}

.section2-visitor-margin {
    margin-left: 44px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.hr-style {
    align-self: center;
    background: black;
    width: 70%;
    height: 1px;
    display: inline-block;
    position: absolute;
}

.section3-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/corridor.png');
    background-size: cover;
    background-position: center;
}

.section3-heading {
    font-family: 'Lato';
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: white;
}

.section3-text {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
}

.section3-padding {
    max-width: 50%;
    margin-left: 25%;
    text-align: left;
}

.section-col {
    text-align: center;
    margin: 70px auto;
}

.footer-text {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.footer-text-margin {
    margin-right: 50px;
}

.fa-style {
    margin-right: 12px;
    font-size: 20px;
}

.hr2-style {
    height: 1px;
    color: black;
    background-color: black;
    opacity: 1;
}

.section5-img {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

.section5-p-bold {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0;
}

.section5-p {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.custom-btn {
    background: #E57171;
    border: 1px solid #E57171;
}

.section9-p-bold {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0;
}

.section9-p {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}

.section9-img {
    width: 100%;
    height: 100%;
}

.section10-p-bold {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0;
}

.section10-heading {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bolder;
}

.custom-checkbox{
    background-color: #E57171;
    border-color: #E57171;
}

.error{
    color: red;
}


@media (max-width:991px) {

    .navbar-nav{
        background: black;
    padding: 20px 0;
    }

    .banner-h1{
        font-size: 70px;
    }

    .banner-h1-second{
        font-size: 70px;
        margin-left: 22px;
    }
}